{% spaceless %}
{% load django_tables2 %}

{% if table.page %}
<div class="table-container">
{% endif %}

{% block table.start %}
<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
{% endblock %}
    {% block table.header %}
        <thead>
            <tr class="{% cycle "odd" "even" %}">
            {% block table.header.before_columns %}{% endblock %}
            {% include header_template|default:"django_tables2/header.html" %}
            {% block table.header.after_columns %}{% endblock %}
            </tr>
        </thead>
    {% endblock %}
    {% block table.body %}
    <tbody>
        {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
            <tr class="{% cycle "odd" "even" %}">
            {% block table.row %}
            {% block table.body.before_row %}{% endblock %}
            {% include row_template|default:"django_tables2/row.html" %}
            {% block table.body.after_row %}{% endblock %}
            {% endblock %}
            </tr>
        {% empty %}
        {% if table.empty_text %}
            <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
        {% endif %}
        {% endfor %}
    </tbody>
    {% endblock %}
{% block table.end %}
</table>
{% endblock %}

{% block table.pagination %}
{% if table.page %}
<ul class="pagination">
    {% if table.page.has_previous %}
    <li class="previous"><a href="{% set_url_param page=table.page.previous_page_number %}">Previous</a></li>
    {% endif %}
    <li class="current">Page {{ table.page.number }} of {{ table.paginator.num_pages }}</li>
    {% if table.page.has_next %}
    <li class="next"><a href="{% set_url_param page=table.page.next_page_number %}">Next</a></li>
    {% endif %}
</ul>
</div>
{% endif %}
{% endblock %}
        
{% endspaceless %}